/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    text-transform: uppercase;
}

body {
    background: #111;
    color: #a7a7a7;
}

.container {
    padding: 10px;
    border: 1px solid #111;
    box-shadow: 1px 1px 3px white;
    margin: auto;
    margin-top: 10%;
    width: 600px;
    background: #222;
}

.container h1{
    text-align: center;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

ul button{
    background: #d12b2b;
    float: right;
}

.completeBtn {
    background: #379b19;
}

.addToDo {
    display: grid;
    margin: 10px;
    justify-content: center;
}

button {
    padding: 7px;
    color: white;
    background: #2b2bd1;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    transform: scale(0.9);
}

input {
    padding: 8px;
    outline: none;
    border-radius: 5px;
}